services:
  db:
    image: postgres
    ports:
      - ${DB_PORT}:5432
    container_name: postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres-vol:/var/lib/postgresql


volumes:
  postgres-vol:
  
